.whole2{
    

    width: 38rem;
    height: 40rem;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
}
.form{
    display: flex;
    flex-direction: column;

}
.input1{
    background-color: white;
    width: 20rem;
    height: 2rem;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    
}
.big1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

@media (max-width: 500px){
    
    .whole2{
        width: 20rem;
        
    }
    .whole2 .form{
        width: 200px;
    }
    .form input{
        width: 10.75rem;

    }
    .body{
        width: 20rem;
    }
}