.container{
    
    background-color: white;
    display: flex;
    /* flex-direction: row; */
    height: 10vh;
    border: 1px solid black;
    overflow: hidden;
    
}
.list{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    
}
.list li{
    margin: 30px;
    background-color: white;
    text-decoration: none;
    color: black;
    
}
li:hover{
    color: skyblue;
    text-decoration: none;
}
.field{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 20px;
    height: 2rem;
    border-radius: 5px;
    font-size: 16px;
    background-color: aqua;

}
@media (max-width:500px){
    .container{
        flex-direction: column;
    }
}