.container{
    
    background-color: white;
    display: flex;
    /* flex-direction: row; */
    height: 10vh;
    
}
.list{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    
}
li{
    margin: 30px;
    background-color: white;
    
}
.field{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 20px;
    height: 2rem;
    border-radius: 5px;
    font-size: 16px;
    background-color: aqua;

}